<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="main">
        <div class="container">
            <h2 class="main-title">Dashboard</h2>
            <div class="dashboard-container">
                <div class="dashboard-items"><p><a href="/altaProducto" class="href-dashboard-item">Crear producto</a></p></div>
                <div class="dashboard-items"><p><a href="/productosEdit" class="href-dashboard-item">Modificar/Borrar producto</a></p>
                </div>
            </div>
        </div>
        <br>
        <!-- Aca pregunto si listado de productos esta vacio o no -->
    </main>
    <br>
    <%- include('../partials/footer') %>
</body>
</html>