<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trieste</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="css\normalize.css" rel="stylesheet">
    <link href="css\styles.css" rel="stylesheet">
</head>
<body>
    
    <header> 

            <img width="240"   src="./images/DJ logo vinyl, retro vintage musical label,line vinyl logo (1).png" alt="">
        <br>
        <br>

            <div class="searchbar">
            <input type="text" placeholder="Busca tu vinilo...">
            <i class="fa fa-search"></i>
         <br>
        
         <br>

        </div>             <p>Registrate para conocer los beneficios!</p>
        <br>
        <br>

        <ul>
            <li>Ofertas</li> 
             <li>Ayuda</li>
        </ul>
             <br>
        <ul> 
            <li>Crea tu cuenta</li> 
             <li>Ingresa</li>
             <li>Mis compras</li> </ul>
        
    

    </header>

<br>

    <main> 
        <section>
            <h2>Destacados</h2>
            <img width="250" src="./images/R-1193916-1200594683.jpg" alt="">
            <h4>Ritchie Hawting - </h4>
            <p>$3.500</p>
            <p>25% off</p>
            
            <br>
            <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
            <h4>Cuartero - Daily EP</h4>
            <p>$2.300</p>
            <p>20% off</p>
            
            <br>
            <img width="250" src="./images/5186a3fT+LS._UX250_FMwebp_QL85_.webp" alt="">
            <h4>Monday Dreamlin - Various Artist</h4>
            <p>$4.500</p>
            <p>10% off</p>
            
            <br>
            <img width="250" src="./images/71tVF6HDV5L._SY355_.jpg" alt="">
            <h4>Electronic Music Antology</h4>
            <p>$5.200</p>
            <p>5% off</p>
            
        </section>
    </main>
<br>

    <footer>
        <ul> 
        <li>Aceptamos tarjeta o en efectivo</li>
        <li>Envio gratis desde $3.500</li>
        <p>Podes comprar en cuotas, sin usar tu tarjeta de credito</p>

        <li>Copyright © 2015-2020 Trieste S.R.L. </li>

    </ul>

 </footer>
</body>
</html>