* {
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 229, 229, 0.834);
    /*font-family: 'Staatliches', cursive;*/
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    text-align: start;
    opacity: 0.9;
    width: 100%;
    
}

.main {
    padding: 15px;
    margin: 20px;
}


/* SLIDER */

.container-home{
    display: flex;
    min-height: 60vh;
}

.container-slider {
    width: 1500px;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
    background-color: rgb(231, 169, 93);
    
}
.slider12 {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
    object-fit: fill;
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 10px;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(4, 4, 4);
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}

.slider_section_btn{
    display: block;
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: 10px auto;
}

.slider__title{
    font-size: 2.2em;
    margin: 0%;
    color: white;
}

.slider__text {
    margin: 5px, 0;
    color: white;
}



/* ESTILOS DE PRODUCTOS HOME */


.container-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    display: block;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 35vh;
    border-bottom: solid 1px #ebebeb;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}

.producto::before {
    content: "50% OFF";
    background: rgb(54, 50, 50);
    position: absolute;
    width: 60px;
    top: 0;
    right: 10px;
    color: white;
}

.producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: scale(1.02);
}


.producto-listado {
    display: block;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 35vh;
    border-bottom: solid 1px #ebebeb;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
    
}

.producto-listado:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: scale(1.02)
}
.producto__img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.producto__img__encarrito{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.product__title{
    text-align: center;
    font-size: 24px;
    width: 95%;
    color: rgb(14, 12, 12);
} 

.producto__price {
    color: black;
    font-weight: bold;
}

.producto__fav {
    color: rgb(193, 207, 4);
    font-weight: bold
}

.product__icon{
    display: block;
    margin: 10px 0;
}

.producto__stock_ok {
    
    border: 1px solid rgba(65, 207, 4, 0.952);;
    background-color: rgba(65, 207, 4, 0.952);;
    width: 240px;
    color: white;
    font-weight: bold
}

.producto__stock_soldout {
    border: 1px solid red;
    background-color: red;
    width: 240px;
    color: white;
    font-weight: bold;
}

.producto__detalle_campo_cantidad {
    width: 50px;
    text-align: center;
    border-radius: 5px;
}

.producto__detalle_campo_oferta {
    color: rgb(6, 98, 14);
}

.producto__detalle_boton_comprar {
    background-color: #555555;
    color: white;
    border-radius: 5px;
}

.producto__detalle_boton_comprar:hover {
    background-color: #c4b7b7;
    color: white;
    border-radius: 5px;
    
}

/* HEADER */

header {
    background-color: white;
    width: 100%;
    height: 260px;
}

.header_top_container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_top_right{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px;
    width: 300px;
}


header div a {
    text-decoration: none;
    color: black;
}

header div input {
    width: 350px;
}

header img {
    width: 250px;
}

.header_bottom_container {
    padding: auto;
}
.nav_bar {
    display: flex;
    list-style: none;
    justify-content: space-evenly; 
    text-align: center;
    margin-bottom: 5px;
}

.nav_bar_ul_menu {
    list-style: none;
}

.search_bar {
    width: max-content;
}

.records {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}

.records_info {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;

}


h2, section {
    text-align: center;
    
}



/* Formulario de Modif Producto */


.producto--listado {
        display: block;
        border: 10px solid #ccc;
        padding: 25px;
        max-width: 1000px; /*Estaba en 800*/
        margin: auto;
        /*width: 125vh;*/
        width: 900px;
        border-bottom: solid 1px #ebebeb;
        border-radius: 10px;
        background-color: white;
        position: relative;
        text-align: left;
        align-items: left;
    }


.producto___img {
    width: 350px;
    top: 50px;  
    right: 35px; 
    position: absolute;
}

.product__description_detalle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
      }
    

.notification_msg_form {
    color: rgb(255, 162, 0);
    text-align: center;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.product___title {
    top: -15px;  
    right: -420px;

}

.product___title_detalle {
    top: -15px;  
    right: -420px;
    border: 0;
    outline: 0;
    border-width:0px;
}



/* Formulario de Alta Generos */
.form_generos {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form_generos input[name=titulo] {
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
}

.form_generos input[name=reset_alta],
.form_generos input[name=submit_alta] {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.form_generos input[name=reset_alta]:hover,
.form_generos input[name=submit_alta]:hover {
    background-color:dimgray;
    color: white;
}

/* Formulario de Alta Artistas */
.form_artistas {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form_artistas input[name=nombreArtista]{
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
}

.form_artistas input[name=reset_alta],
.form_artistas input[name=submit_alta] {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.form_artistas input[name=reset_alta]:hover,
.form_artistas input[name=submit_alta]:hover {
    background-color:dimgray;
    color: white;
}

/* Formulario de Registracion */
.error_msg_form {
    color: red;
}

.form_reg {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form_reg input[name=usuario_reg],
.form_reg input[name=nombre_reg],
.form_reg input[name=apellido_reg],
.form_reg input[name=email_reg],
.form_reg input[name=pwd_reg],
.form_reg input[name=pwdrepeat] {
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
}

.form_reg input[name=reset_reg],
.form_reg input[name=submit_reg] {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.form_reg input[name=reset_reg]:hover,
.form_reg input[name=submit_reg]:hover {
    background-color:dimgray;
    color: white;
}

/* Formulario de Alta de Producto */
.success_msg_form {
    color: rgb(9, 154, 21);
}

.form_reg_alta_producto {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.form_reg_alta_producto select[name=nombreArtista],
.form_reg_alta_producto input[name=nombreDisco],
.form_reg_alta_producto input[name=stock],
.form_reg_alta_producto input[name=precio],
.form_reg_alta_producto input[name=sku],
.form_reg_alta_producto input[name=imagen],
.form_reg_alta_producto input[name=oferta],
.form_reg_alta_producto select[name=categoria] {
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
    
}


.form_reg_alta_producto input[name=reset_alta],
.form_reg_alta_producto input[name=submit_alta] {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.form_reg_alta_producto input[name=reset_alta]:hover,
.form_reg_alta_producto input[name=submit_alta]:hover {
    background-color:dimgray;
    color: white;
}
.form_reg_alta_producto input[name=recomendado] {
    height: 20px;
    width: 20px;
}

.file-upload {
    opacity: none;
    background-color: white;
    position: relative;
    z-index: 2;
}

/* Fin Estilos Formulario Alta Producto*/

#disco {
    font-size: 30px;
}



/*CARRITO DE COMPRAS */



.icono-foto-carrito {
    max-width: 20%;
    height: auto;
}

table, td, tr, th{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    
}

.tabla-carrito {
    border: none;
    background-color: rgba(236, 229, 229, 0.834);
}

.celda-tabla {
    border-radius: 5px;
}

.celda-primera-carrito {
    border: none;
    background-color: rgba(236, 229, 229, 0.834);
}


.button-div-carrito, .subtotal-carrito {
    margin-left: 55%;
}
.button-carrito {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
    width: 250px;
}

.ancho-celda-carrito {
    object-fit: cover;
}

.button-carrito:hover {
    background-color:dimgray;
    color: white;
}



/* Footer */



.footer-link {
    text-decoration: none;
}
footer {
    background-color: white;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    text-align: justify;
    width: 100%;
    padding-top: 50px;
    
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer_box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}

.footer_box .logo img {
    width: 200px;
}

.footer_box h2{
    margin-bottom: 30px;
    font-weight: 700;
}

.footer_box a{
    margin-top: 10px;
    font-weight: 600;
}

.footer_box a:hover{
    opacity: 0.8;
}



/* Formulario de login */

.contenedor_login{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contenedor_login input[name=usuario_email],
.contenedor_login input[name=password_log] {
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
}

.contenedor_login input[name=submit_login]{
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.contenedor_login input[name=submit_login]:hover {
    background-color:dimgray;
    color: white;
}

#disco {
    font-size: 30px;
}



/* Detalle de producto */

.producto_box{
    border: 1px solid #ccc;
    padding: 25px;
    max-width: 800px;
    margin: auto;
    width: 125vh;
    border-bottom: solid 1px #ebebeb;
    border-radius: 10px;
    background-color: white;
    position: relative;
    
}

.producto_box .producto_img{
    min-width: 300px;
    width: 400px;
    height: 100%;
    position: absolute;
}

.producto_box .producto_img img{
    width: 65%;
    margin-top: 20px;
    margin-left: 450px;
    margin-right: 10px;
    padding: 10px;
}

.producto_box .detalle_p {
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.producto_box .detalle_p .producto_titulo h6{
    font-weight: 200;
    font-size: 0.8em;
    padding: 10px;
}

.producto_box .detalle_p h4 {
    font-size: 0.8em;

}

.producto_box .detalle_p p {
    font-size: 0.8em;
    font-weight: 200;
    
}
.producto_box .detalle_p .producto_comprar{
    display: flex;
    justify-content: space-between;

}

.producto_box .detalle_p .producto_comprar .precio{
    font-size: 1.5em;
    margin-top: 100px;
}

.producto_detalle .producto_box .detalle_p .producto_comprar .product_boton{
    padding: 0.5em 0.8em;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 80px;
    background-color: rgba(255, 255, 255, 0.7);
}

.producto_detalle .producto_box .detalle_p .producto_comprar .product_boton .comprar{
    color: black;
    font-weight: bold;    

}
.producto_detalle .producto_box .detalle_p .producto_comprar .product_boton a:hover{
    opacity: 0.8;
    color: black;

}


/* Detalle de producto ECV*/

.producto_box_ecv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 430px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
}

.producto_box_ecv .producto_card_ecv{
    width: 250px;
    height: 420px;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin: 20px;
    text-align: center;
    background-color: white;
    
}

.producto_box_ecv .producto_img_ecv{
    width: 50%;
    padding: 5px;
}

.producto_box_ecv .producto_card_ecv .listadoDiscos-informacion {
    font-size: 16px;
}

/* CONTAINER ALFABETO */
.container-alfabeto {
    display: flex;
    justify-content: center;

}

.item-alfabeto {
    border: 1px solid black;
    background-color: white;
    border-radius: 2px;
    width: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    
}

.href-alfabeto {
    background-color: transparent;
    text-decoration: none;
}

/* DASHBOARD */

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.dashboard-items { 
    border: 1px black solid;
    background-color: white;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;

}

.dashboard-items:hover {
    background-color: #656262;
}

.href-dashboard-item:hover {
    color: white;
}

.href-dashboard-item {
    background-color: transparent;
    text-decoration: none;
}

/* Mapa Contacto */

.contacto-header {
    margin: 20px;
    font-weight: unset;
}

.contacto_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacto_box .box-contacto1{
    display: flex;
    padding: 20px;
    text-align: center;
}

.contacto_box .box-contacto2{
    padding: 20px;
    align-items: left;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 200px;
}

.contacto_item{
    justify-content: left;
}

.contacto-map {
    border: solid 2px black;
    width: 90vh;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    text-align: center;
}


/* 
MODIFICACION DE PRODUCTO */

/* Boton Volver de ABM de Administrado */
.backButton {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color: white;
    text-align: center;  
    
}

.backButton:hover {
    background-color:dimgray;
    color: white;
}

/* Estilos de FAQ Section */

.faqSection {
    margin: 20px;
    text-align: justify;
}

/* Creacion de Artistas y Generos Botones */

.form_reg_alta_artistas_generos input[name=reset_alta],
.form_reg_alta_artistas_generos input[name=submit_alta] {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.form_reg_alta_artistas_generos input[name=reset_alta]:hover,
.form_reg_alta_artistas_generos input[name=submit_alta]:hover {
    background-color:dimgray;
    color: white;
}

/* Boton y campo Cantidad para agregar a carrito */
.comprarItem {
    width: 80px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
}

.comprarItemButton {
    height: 35px;
    font-size: 16px;
    background-color: #dbcbcb;
    border-radius: 5px;
    border: 1px solid;
}

.comprarItemButton:hover {
    background-color: #656262;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}


/* -------------------------- Media Queries --------------------------  *
/
/* Mobile First --------------------------------------------------------*/
@media (max-width: 360px){ 
    .nav_bar {
        display: none;
    }

    .container-home {
        display:none;
    }

    .header_search_field {
        display: none;
    }

    
    .search_bar {
        width: 30%;
    }

    .contacto-map {
        width: 40vh;
    }

    
    .contenedor_login input[name=usuario_email],
    .contenedor_login input[name=password_log] {
        width: 40%;
    }

    .footer_container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    
    }

    .producto___img {
        width: 100px;
        top: 50px;
        right: 15px;
        position: absolute;
    }

    header img {
        width: 150px;
    }

    .main-title {
        font-size: 15px;
    }

    .search_area {
        display: none;
    }

    .header_top_right {
        font-size: 10px;
        width: 300px
    }

    li.nav_bar_ul_menu{
        list-style: none;
        text-align: center;
        font-size: 15px;
    }

    a.nav_bar_ul_menu{
        text-align: center;
        font-size: 15px;
    }

    header {
        background-color: white;
        width: 100%;
        height: 250px;
        text-align: center;
        font-size: 15px;
    }

}

/* Tablet First --------------------------------------------------------*/
@media (max-width: 768px){ 

    .nav_bar {
        display: none;
    }
    .container-home {
        display:none;
    }

    header div input {
        width: 175px;
    }

    .contacto-map {
        width: 60vh;
    }

   
    .form_reg input[name=usuario_reg],
    .form_reg input[name=nombre_reg],
    .form_reg input[name=apellido_reg],
    .form_reg input[name=email_reg],
    .form_reg input[name=pwd_reg],
    .form_reg input[name=pwdrepeat] {
         width: 40%;

    }
    
    .contenedor_login input[name=usuario_email],
    .contenedor_login input[name=password_log] {
        width: 40%;
    }

    .footer_container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    
    }

    .dashboard-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container-alfabeto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .producto--listado {
        display: block;
        border: 10px solid #ccc;
        padding: 25px;
        max-width: 1000px;
        margin: auto;
        /* width: 125vh; */
        width: 50%;
        border-bottom: solid 1px #ebebeb;
        border-radius: 10px;
        background-color: white;
        position: relative;
        text-align: left;
        align-items: left;
    }

    .producto___img {
        width: 130px;
        top: 50px;
        right: 25px;
        position: absolute;
    }

    .search_area {
        display: none;
    }

    header img {
        width: 150px;
    }

    header {
        background-color: white;
        width: 100%;
        height: 270px;
        text-align: center;
        font-size: 20px;
    }

}

/* Laptop First --------------------------------------------------------*/
@media (min-width: 769px){ 
    .nav_bar_ul_menu {
        display: none;

    }

    header div input {
        width: 175px;
    }

    .form_reg input[name=usuario_reg],
    .form_reg input[name=nombre_reg],
    .form_reg input[name=apellido_reg],
    .form_reg input[name=email_reg],
    .form_reg input[name=pwd_reg],
    .form_reg input[name=pwdrepeat] {
        width: 40%;
    }
    
    .contenedor_login input[name=usuario_email],
    .contenedor_login input[name=password_log] {
        width: 40%;
    }

    .footer_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

}

/* Laptop Wide >1200 --------------------------------------------------------*/
@media (min-width: 1200px){ 
    #nav_bar_ul_menu {
        display: none;

    }

    header div input {
        width: 350px;
    }

    .form_reg input[name=usuario_reg],
    .form_reg input[name=nombre_reg],
    .form_reg input[name=apellido_reg],
    .form_reg input[name=email_reg],
    .form_reg input[name=pwd_reg],
    .form_reg input[name=pwdrepeat] {
        width: 20%;
    }
    
    .contenedor_login input[name=usuario_email],
    .contenedor_login input[name=password_log] {
        width: 20%;
    }

    .footer_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

}
