* {
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 229, 229, 0.834);
    /*font-family: 'Staatliches', cursive;*/
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    text-align: start;
    opacity: 0.9;
}

.main {
    padding: 15px;
}


/* SLIDER */



.container-home{
    display: flex;
    min-height: 60vh;
}

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
    background-color: rgb(231, 169, 93);
    
}
.slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}

.slider__img {
    width: 40%;
    height: 40%;
    object-fit: contain;
    padding: 10px;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(4, 4, 4);
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}

.slider_section_btn{
    display: block;
    border: 1px solid black;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: 10px auto;
}

.slider__title{
    font-size: 2.2em;
    margin: 0%;
}

.slider__text {
    margin: 5px, 0;
}



/* ESTILOS DE PRODUCTOS HOME */



.container-productos{
    display: flex;
}

.producto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    border-bottom: solid 1px #ebebeb;
    border-radius: 10px;
}

.producto::before {
    content: "50% OFF";
    background: rgb(54, 50, 50);
    position: absolute;
    width: 60px;
    top: 0;
    right: 10px;
    color: white;
}
.producto__img{
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.product__title{
    text-align: center;
    font-size: 24px;
    width: 95%;
    color: rgb(14, 12, 12);
} 

.producto__price {
    color: black;
    font-weight: bold;
}

.product__icon{
    display: block;
    margin: 10px 0;
}



/* HEADER */


header {
    background-color: white;
    width: 100%;
    height: 260px;
}

.header_top_container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_top_right{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 14px;
    width: 300px;
}

header div a {
    text-decoration: none;
    color: black;
}

header div input {
    width: 350px;
}

header img {
    width: 250px;
}

.header_bottom_container {
    padding: auto;
}
.nav_bar {
    display: flex;
    list-style: none;
    justify-content: space-evenly; 
    text-align: center;
    margin-bottom: 5px;
}

.search_bar {
    width: max-content;
}

.records {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}

.records_info {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}


h2, section {
    text-align: center;
}

.form_reg {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form_reg input[name=usuario_reg],
.form_reg input[name=nombreApellido_reg],
.form_reg input[name=email_reg],
.form_reg input[name=pwd_reg],
.form_reg input[name=pwdrepeat] {
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
}

.form_reg input[name=reset_reg],
.form_reg input[name=submit_reg] {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.form_reg input[name=reset_reg]:hover,
.form_reg input[name=submit_reg]:hover {
    background-color:dimgray;
    color: white;
}


#disco {
    font-size: 30px;
}



/*CARRITO DE COMPRAS */



.icono-foto-carrito {
    max-width: 20%;
    height: auto;
}

table, td, tr, th{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    
}

.tabla-carrito {
    border: none;
    background-color: rgba(236, 229, 229, 0.834);
}

.celda-tabla {
    border-radius: 5px;
}

.celda-primera-carrito {
    border: none;
    background-color: rgba(236, 229, 229, 0.834);
}


.button-div-carrito, .subtotal-carrito {
    margin-left: 55%;
}
.button-carrito {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
    width: 250px;
}

.ancho-celda-carrito {
    object-fit: cover;
}



/* Footer */



.footer-link {
    text-decoration: none;
}
footer {
    background-color: white;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    text-align: justify;
    width: 100%;
    padding-top: 50px;
    
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer_box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}

.footer_box .logo img {
    width: 200px;
}

.footer_box h2{
    margin-bottom: 30px;
    font-weight: 700;
}

.footer_box a{
    margin-top: 10px;
    font-weight: 600;
}

.footer_box a:hover{
    opacity: 0.8;
}



/* Formulario de login */




.contenedor_login{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contenedor_login input[name=usuario_log],
.contenedor_login input[name=password_log] {
    padding: 12px 20px;
    border-radius: 8px;
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
}

.contenedor_login input[name=submit_login]{
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

#disco {
    font-size: 30px;
}



/* Detalle de producto */




.productodetalle {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.producto_detalle {
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
    padding: 25px;
    align-items: center;
    min-height: 60vh;
    background-color: white;
    
}

.producto_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.producto_box .producto_img{
    min-width: 300px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.producto_box .producto_img img{
    width: 65%;
}

.producto_box .detalle_p {
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.producto_box .detalle_p .producto_titulo h6{
    font-weight: 200;
    font-size: 0.8em;
}

.producto_box .detalle_p h4 {
    font-size: 0.8em;

}

.producto_box .detalle_p p {
    font-size: 0.8em;
    font-weight: 200;
    
}
.producto_box .detalle_p .producto_comprar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto_box .detalle_p .producto_comprar .precio{
    font-size: 1.5em;
}

.producto_box .detalle_p .producto_comprar .product_boton{
    padding: 0.5em 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}


/* Detalle de producto ECV*/

.producto_box_ecv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 430px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
}

.producto_box_ecv .producto_card_ecv{
    width: 250px;
    height: 420px;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin: 20px;
    text-align: center;
    background-color: white;
    
}

.producto_box_ecv .producto_img_ecv{
    width: 50%;
    padding: 5px;
}

.producto_box_ecv .producto_card_ecv .listadoDiscos-informacion {
    font-size: 16px;
}
