<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>Contacto del Local</h2>
    <h5 class="contacto-header">No todos buscan lo mismo. Y no todos ofrecemos lo mismo. Trieste Records está ubicado en Callao y Corrientes, una de las esquinas más emblemáticas de la vida cultural de Buenos Aires y está atendido por especialistas que rescatan la mejor tradición del oyente de Discos de Vinilo, uniendo conocimientos y calidez en el trato. Trieste atiende las necesidades de los más exigentes. Los que buscan quién lo guíe en sus inquietudes y curiosidades musicales y los que saben lo que quieren comprar y quién se los puede ofrecer.</h5>
    <div class="contacto_box">
        <div class="box-contacto1">
            <!-- <iframe class="contacto-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.464988789179!2d-58.48578128465818!3d-34.56709916306874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb660287c4107%3A0x8c4597977763c28f!2sTom%C3%A1s%20A.%20Le%20Bret%C3%B3n%204540%2C%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1658609509653!5m2!1sen!2sar" width="60%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <iframe class="contacto-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2682.873461745376!2d-58.39394076748083!3d-34.604648417870386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb00112384e3%3A0xd964cbbbbbfe3d1c!2sCorrientes%20y%20Callao!5e0!3m2!1sen!2sar!4v1662831046561!5m2!1sen!2sar" width="60%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> 
        <div class="box-contacto2">
            <div class="contacto_item">
                <h2>ESCRIBINOS!</h2>
                <a href="mailto:trieste.records@gmail.com" class="footer-link"><i class="fa-solid fa-envelope"></i>  e-mail: trieste.records@gmail.com</a>
                <br>
                <br>
                Tel: (5411) 3034-1040
            </div>
        </div> 
    </div>

    <%- include('./partials/footer') %>
   
</div>
</body>
</html>