<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>Preguntas Frecuentes</h2>
    <p style="text-align: center;">Si no encontrás tu respuesta, escribinos ¡Estamos para ayudarte!</p>
    <br>
    <h3 id="forma-envio">Formas de Envío</h3>
    
    <p>
        A través de que empresa envían mi compra?​​ Con la que vos prefieras de estas:
        
        Andreani, podés elegir entrega a domicilio o retirar por una sucursal.
        
        Correo Argentino, podés elegir entrega a domicilio o retirar por una sucursal.
        
        En la Ciudad de Córdoba realizamos entregas con CADETE. 
        Qué costo tiene un envío?
        En cada producto tenés un calculador de costos de envío que, con sólo ingresar tu código postal, te permite saber cuál va a ser el costo de envío a tu localidad. Tené en cuenta que el costo varía en función de la cantidad de productos que compres. Para tener un valor más exacto, lo ideal es que agregues todos los productos que te gusten al carrito y desde ahí mismo calcules el envío.
        
        Cómo sé que voy a recibir mi compra?
        Cuando enviamos tu pedido te comunicamos el número de seguimiento para que puedas seguirlo desde la página de Andreani o Correo Argentino.
        
        Si elegís entrega con CADETE coordinamos el envío cuando confirmamos tu pago. La entrega es en las 24 / 48 horas posteriores. La franja horaria de entrega es de 10 a 19hs. Si tenés algún requisito en cuanto al horario, por favor dejanos una nota al finalizar tu compra.
        
        Qué pasa si llega mi pedido y no estoy para recibirlo?
        Cualquier persona mayor de 18 años puede recibir el paquete a tu nombre. Si recibiste una visita y no hubo nadie para abrirles, Andreani / Correo Argentino vuelve a pasar al día siguiente. Luego de dos visitas sin éxito, el envío queda en la sucursal más cercana para que puedas retirarlo durante 5 días.
        
        El envío con CADETE no contempla segundas visitas. Si no estás para recibirlo, el pedido vuelve a Casa Elida y queda disponible para que lo retires por 30 días.
        
        Qué pasa si pasan más de 5 días y no voy a retirar mi pedido a la sucursal?
        Andreani / Correo Argentino activa la devolución. Es un proceso lento que puede demorar 10 días hábiles o más. Finalmente, el paquete vuelve a nuestras manos. Una vez que recibimos el pedido, chequeamos que esté todo en perfecto estado y coordinamos con vos el nuevo envío. Esta operación implica un nuevo costo de envío que está a tu cargo.
        
        * Si algún producto llega a nosotros dañado por la manipulación de la empresa de logística lo reponemos sin cargo. Sí el producto en cuestión no está en stock acordamos con vos cómo resolverlo. Una vez definidos todos los detalles volvemos a hacer el envío del pedido. 
        
        Qué pasa si el producto que recibo llega roto?
        ¡Qué amargura! Comprar por internet es un acto de confianza que agradecemos muchísimo, y cuándo pasa algo así se nos rompe el corazón! Lamentablemente las empresas de logística no se responsabilizan por estos graves errores de manipulación. Pero no te preocupes. Nosotros hacemos envíos todos los días a muchísimos puntos de Argentina y preparamos cada caja con muchísima atención (y embalaje) para que te llegue pipí cucú. De hecho, ¡el 99% de nuestros envíos llega perfecto!</p>
    <br>
    <h3 id="politicas-devolucion">Políticas de Devolución</h3>
    
    <p>Plazos y requisitos de cambio, devolución o cancelación
        El plazo para devoluciones o cambios es de 10 días desde la compra para colchones, productos electrónicos, electrodomésticos, fitness, movilidad y muebles. Es necesario que el producto este sin uso, en perfectas condiciones, con etiquetas, accesorios y empaques originales (incluyendo manuales, guías de uso, certificados de garantía, etc.). En todos los casos se deberá conservar la factura y/o remito de entrega. El resto de los productos tienen 30 días para el cambio.</p>
    <br>
    <h3 id="contacto">Contacto</h3>
    
    <p>Ante cualquier consulta, reclamo o sugerencia nos pueden contactar a través de las siguientes opciones:</p>
    <ul>
        <li><i class="fa-solid fa-mobile"></i> (5411) 3034-1040</li>
        <li> <i class="fa-solid fa-envelope"></i> trieste.records@gmail.com</li>
    </ul>

    <%- include('./partials/footer') %>
</body>
</html>