<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br>
<div class="container-home">
    <div class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="./images/logo.JPG" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">OFERTAS/h2>
                        <p class="slider__text">Compra con descuentos de hasta el 50%!</p>
                        <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                    </div>
            </div>
            <div class="slider__section">
                <img src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="" class="slider__img">
                <div class="slider__content">
                    <h2 class="slider__title">DESTACADOS</h2>
                    <p class="slider__text">Explora y llevate lo mas buscado en la actualidad</p>
                    <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                </div>
            </div>  
            <div class="slider__section">
                <img src="./images/71tVF6HDV5L._SY355_.jpg" alt="" class="slider__img">
                <div class="slider__content">
                    <h2 class="slider__title">NOVEDADES</h2>
                    <p class="slider__text">Descubrí lo último de la musica!</p>
                    <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                </div>
            </div>  
            <div class="slider__section">
                <img src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="" class="slider__img">
                <div class="slider__content">
                    <h2 class="slider__title">OFERTAS</h2>
                    <p class="slider__text">Compra con descuentos de hasta el 50%!</p>
                    <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                </div>
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
    </div>
</div>
<main class="main">
    <div class="container">
        <h2 class="main-title">TE RECOMENDAMOS</h2>
    <section class="container-productos">
       <div class="producto">
        <a href="#"><img src="./images/abba_gold.jpg" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Gold - Abba</h3>
            <span class="producto__price">%3.500</span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/queen_greatesthits.jpg" alt="" class="producto__img"> </a>
        <div class="product__decription">
            <h3 class="product__title">Greatest Hits - Queen</h3>
            <span class="producto__price">$3.000</span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/madonna_rebelhearttour.webp" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Rebel Heart Tour - Madonna</h3>
            <span class="producto__price">$4.000</span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/acdc_letthereberock.jpg" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Let There Be Rock - ACDC</h3>
            <span class="producto__price">$2.700</span>
        </div>
        <i class="product__ icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/acdc_letthereberock.jpg" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Let There Be Rock - ACDC</h3>
            <span class="producto__price">$2.700</span>
        </div>
        <i class="product__ icon fa-solid fa-cart-arrow-down"></i>
    </section>
    </div>
<br>
<br>
    <div class="container">
        <h2 class="main-title">LOS MAS VENDIDOS</h2>
    <section class="container-productos">
       <div class="producto">
        <a href="#"><img src="./images/brunomars_unorthodoxjukebox.webp" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Unorthodox Juke Box - Bruno Mars</h3>
            <span class="producto__price">%4.200</span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/thebeatles_abbeyroad.jpg" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Abbey Road - The Beattles</h3>
            <span class="producto__price">$6.000</span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/rollingstones_circus.webp" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Circus - Rolling Stones</h3>
            <span class="producto__price">$5.000</span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/u2_pop.jpg" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Pop - U2</h3>
            <span class="producto__price">$2.600</span>
        </div>
        <i class="product__ icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <div class="producto">
        <a href="#"><img src="./images/71tVF6HDV5L._SY355_.jpg" alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title">Electronic Musc Anthology - The Box Set</h3>
            <span class="producto__price">$4.700</span>
        </div>
        <i class="product__ icon fa-solid fa-cart-arrow-down"></i>
    </section>
</main>

<br>
<%- include('./partials/footer') %>
<script>
// const slider = document.querySelector("#slider");
// let sliderSection = document.querySelectorAll(".slider__section");
// let sliderSectionLast = sliderSection[sliderSection.length -1];

// const btnLeft = document.querySelector("#btn-left");
// const btnRight = document.querySelector("#btn-right");

// slider.insertAdjacentElement('afterbegin', sliderSectionLast);

// function Next() {
//     let sliderSectionFirst = document.querySelectorAll(".slider__section")[0]
//     slider.style.marginLeft = "-200%"
//     slider.style.transition = "all 0.5s"
//     setTimeout(function(){
//         slider.style.transition = "none"
//         slider.insertAdjacentElement('beforeend', sliderSectionFirst)
//         slider.style.marginLeft = "-100%"
//     }, 500);
// }
// function Prev() {
//     let sliderSection = document.querySelectorAll(".slider__section");
//     let sliderSectionLast = sliderSection[sliderSection.length -1];
//     slider.style.marginLeft = "0"
//     slider.style.transition = "all 0.5s"
//     setTimeout(function(){
//         slider.style.transition = "none"
//         slider.insertAdjacentElement('afterbegin', sliderSectionLast);
//         slider.style.marginLeft = "-100%"
//     }, 500);
// }

// btnRight.addEventListener('click', function(){
//     Next();
// });

// btnLeft.addEventListener('click', function(){
//     Prev();
// });

// setInterval(function(){
//     Next();
// }, 5000);
</script>
</body>
</html>