<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br>
    <main> 
        <h2>Destacados</h2>
        <div class="records">
            <article>   
                <img width="250" src="./images/R-1193916-1200594683.jpg" alt="">
                <div class="records_info">
                    <h4>Ritchie Hawting</h4>
                    <p>$3.500</p>
                    <p>25% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            
            <article>   
                <img width="250" src="./images/71tVF6HDV5L._SY355_.jpg" alt="">
                <div class="records_info">
                    <h4>Electronic Music Antology</h4>
                    <p>$5.200</p>
                    <p>5% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
            <article>   
                <img width="250" src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="">
                <div class="records_info">
                    <h4>Cuartero - Daily EP</h4>
                    <p>$2.300</p>
                    <p>20% off</p>
                </div>    
            </article>
        </div>
    </main>
<br>

<%- include('./partials/footer') %>

</body>
</html>