<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b6f922cb1.js" crossorigin="anonymous"></script>
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <title>Trieste Records</title>

</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <div>
                <h2>MI CUENTA</h2><img src="./images/music_icon.png" id="disco" alt="music_icon">
            </div>
            <div>
                <br>
                <form action="" method="POST" class="form_reg">
                    <label for="usuario_reg">Usuario*</label>
                    <input type="text" name="usuario_reg" minlength=8 required>
                    <br>
                    <label for="">Direcci칩n de correo electr칩nico*</label>
                    <input type="email" name="email_reg" required>
                    <br>
                    <label for="">Nombre y Apellido*</label>
                    <input type="text" name="nombreApellido_reg" required>
                    <br>
                    <label for="pwd_reg">Contrase침a</label>
                    <input type="password" name="pwd_reg" id="pwd_reg" minlength="8" required> 
                    <br>
                    <label for="pwdrepeat">Repita su Contrase침a</label>
                    <input type="password" name="pwdrepeat" id="pwdrepeat" required> 
                    <br>
                    <div>
                    <input type="checkbox" name="newsletter"><label> Suscribite a nuestra newsletter para recibir novedades</label>
                    </div>
                    <br>
                    <div>
                        <input type="submit" value="Enviar" name="submit_reg">
                        <input type="reset" value="Borrar" name="reset_reg">
                    </div>
                </form>
            </div>
        <br>
        </section>
        
    </main>

    <%- include('./partials/footer') %>
</body>
</html>