<footer>       
    <div class="footer_container">
        <div class="footer_box">
            <div class="logo">
                <a href="/"><img src="../images/logo.jpg" alt=""></a>
                <div>
                    <hr>
                    <p>Copyright © 2022 Trieste S.R.L.</p>
                </div>
            </div>
        </div>
        <div class="footer_box">
            <h2>CONTACTO</h2>
            <a href="mailto:trieste.records@gmail.com" class="footer-link"><i class="fa-solid fa-envelope"></i>  e-mail: trieste.records@gmail.com</a>
            <p>Tel: (5411) 3034-1040</p> 
        </div>
        <div class="footer_box">
            <h2>PREGUNTAS FRECUENTES</h2>
            <a href="/faq#formas-evio"  class="footer-link">Formas de envio</a>
            <a href="/faq#politicas-devolucion" class="footer-link">Politicas de devolución</a>
        </div>
        <div class="footer_box">
            <h2>MEDIOS DE PAGO</h2>
            <a href="faq#mediosPago" class="footer-link"><i class="fa-brands fa-cc-visa"></i>  Tarjetas de credito </a>
            <a href="faq#mediosPago" class="footer-link"><i class="fa-solid fa-building-columns"></i>  Tranferencia Bancaria</a>
            <a href="faq#mediosPago" class="footer-link"><i class="fa-solid fa-dollar-sign"></i> Efectivo</a>
        </div>
        <div class="footer_box">
            <h2>REDES SOCIALES</h2>
            <a href="https://www.facebook.com" target="_blank" class="footer-link"><i class="fa-brands fa-facebook"> </i>  FACEBOOK</a>
            <a href="https://www.instagram.com" target="_blank" class="footer-link"><i class="fa-brands fa-instagram"> </i>  INSTAGRAM</a>
            <a href="https://www.twitter.com" target="_blank" class="footer-link"><i class="fa-brands fa-twitter"> </i>  TWITTER</a>
        </div>
    </div>
</footer>