
<header>
    <script src="/js/headeri.js"></script> 
    <div class="header_top_container">
        <a href="/"><img src="../images/logo.jpg" alt=""></a>
        <div>
            <form action="" id="searchForm">
                <input type="text" name="busquedaHome" placeholder="Busca tu vinilo...">
                <a href="" class="submit"><i class="fa fa-search"></i></a> 
            </form>
        </div>             
        <div class="header_top_right">
            <% if (locals.session) { %>
                 <p><a href="/registro"><%= locals.session %></a></p>
                 <p><a href="/logout">LOGOUT</a>
            <% } else { %>
            <p><a href="/registro">CREAR CUENTA</a></p>
            <p><a href="/login">LOGIN</a>
            <% } %>            
            <% if (locals.session) { %>
            <p><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></p>
            <% } %>
        </div>
    </div>
    <div class="header_bottom_container">
        <div>
            <ul class="nav_bar">
            <li><a href="/">Inicio</a></li> 
            <li><a href="/ofertas">Ofertas</a></li> 
            <li><a href="/productos">Productos</a></li>
            <li><a href="/busquedaAvanzada">Búsqueda Avanzada</a></li>
            <li><a href="/contacto">Contacto</a></li> 
            
            <% if (locals.session) { %>
                <% if (locals.session == 'Admin') { %>
                    <li><a href="/dashboard">Dashboard</a></li> 
                <% }%>      
             <% }%>   
        </ul>
        </div>
    </div>
</header>
