<header > 
    <div class="header_top_container">
        <a href="/"><img src="../images/logo.jpg" alt=""></a>
        <div>
            <input type="text" placeholder="Busca tu vinilo...">
            <i class="fa fa-search"></i>
        </div>             
        <div class="header_top_right">
            <% if (1==1) {%>
            <p><a href="/registro">CREAR CUENTA</a></p>
            <% } else { %>
            <p><a href="/registro" style="color: red;">HOLA ERNESTO</a></p>
            <% } %>
            <p><a href="/login">LOGIN</a>
            <p><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></p>
        </div>
    </div>
    <div class="header_bottom_container">
        <div>
            <ul class="nav_bar">
            <li><a href="/">Inicio</a></li> 
            <li><a href="/ofertas">Ofertas</a></li> 
            <li><a href="/productos">Productos</a></li>
            <li><a href="/busquedaAvanzada">Búsqueda Avanzada</a></li>
            <li><a href="/contacto">Contacto</a></li> 
            
        </ul>
        </div>
    </div>
</header>
