
<header>
    <!-- <script src="/js/headeri.js"></script>  -->
    <div class="header_top_container">
        <a href="/"><img src="../images/logo.JPG" alt=""></a>
        <div class="search_area">
            <form action="/searchResults" id="searchForm" method="POST">
                <input type="text" name="busquedaHome" placeholder="Busca tu vinilo..." class="header_search_field">
                <!-- <a href="" class="submit"><i class="fa fa-search"></i></a>  -->
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>             
        <div class="header_top_right">
            <% if (locals.session) { %>
                <img src=<%= '../images/users/' + locals.userAvatar %> alt="Avatar" class="avatar">  
                 <p><a href="/userEdit"><%= locals.session %></a></p>
                 <!-- <p><%= locals.session %></p> -->
                 <p><a href="/logout">LOGOUT</a>
            <% } else { %>
                <p><a href="/registro">CREAR CUENTA</a></p>
                <p><a href="/login">LOGIN</a>
            <% } %>            
            <% if (locals.session) { %>
                <p><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></p>
            <% } %>
        </div>
    </div>
    <div class="header_bottom_container">
        <div>
            <ul class="nav_bar">
                <li><a href="/">Inicio</a></li> 
                <li><a href="/ofertas">Ofertas</a></li> 
                <li><a href="/productos">Productos</a></li>
                <li><a href="/busquedaAvanzada">Búsqueda Avanzada</a></li>
                <li><a href="/contacto">Contacto</a></li> 
                
                <% if (locals.session) { %>
                    <% if (locals.es_admin == 'X') { %>
                        <li><a href="/dashboard">Dashboard</a></li> 
                    <% }%>      
                <% }%>   
            </ul>
        </div>
    </div>
    <div class="header_bottom_container">
        <!-- Media Query -->
         <div >
            <ul class="nav_bar_ul_menu">
                <li><a href="/">Inicio</a></li> 
                <li><a href="/ofertas">Ofertas</a></li> 
                <li><a href="/productos">Productos</a></li>
                <li><a href="/busquedaAvanzada">Búsqueda Avanzada</a></li>
                <li><a href="/contacto">Contacto</a></li> 
                
                <% if (locals.session) { %>
                    <% if (locals.es_admin == 'X') { %>
                        <li><a href="/dashboard">Dashboard</a></li> 
                    <% }%>      
                <% }%>   
            </ul>
         </div>   
        <!-- Media Query -->
    </div>
</header>
